# Database Settings
DATABASE_URL=YOUR_DATABASE_URL

# Server Settings
NODE_ENV=production
PORT=YOUR_PORT

# JWT Settings
JWT_ACCESS_TOKEN_SECRET=YOUR_JWT_ACCESS_TOKEN_SECRET
JWT_REFRESH_TOKEN_SECRET=YOUR_JWT_REFRESH_TOKEN_SECRET
JWT_ACCESS_TOKEN_LIFETIME=YOUR_JWT_ACCESS_TOKEN_LIFETIME
JWT_REFRESH_TOKEN_LIFETIME=YOUR_JWT_REFRESH_TOKEN_LIFETIME

# OAuth Settings
GOOGLE_OAUTH_CLIENT_SECRET=YOUR_GOOGLE_OAUTH_CLIENT_SECRET